[defaults]
host_key_checking = False
inventory = ../inventory/dynamic_inventory.aws_ec2.yml
private_key_file = ../devnet-key
ssh_args = -o ServerAliveInterval=60
roles_path = ./roles:../../../common/roles/
forks = 15