/.idea/
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info
**/terraform.tfstate.backup
*.tfstate
/group_vars/snarkos_node.yml
/terraform.tfvars
**/grafana-dashboard.json
**/devnet-key
**/devnet-key.pub
**/.env
**/*.swp
**/*tx-cannon.log
**/*.log
**/vars.yml
**/logs/
**/ledger_backups
/test_suites/network-sync-tests/playbooks/snarkos-shallow/
/test_suites/network-sync-tests/prometheus_server_data/
/test_suites/single-region-tests/playbooks/snarkos-shallow/
/test_suites/single-region-tests/playbooks/.last_snarkos_hash
/test_suites/single-region-tests/tests/_save_deployments/snarkos-shallow/
/test_suites/single-region-tests/prometheus_server_data/
/test_suites/single-region-tests/auto_run_test_suite.sh
/test_suites/single-region-tests/transaction_files/
/test_suites/single-region-tests/tests/load_saved_transactions/transactions_to_send/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/node_modules/

ip_addresses.txt
client_ip_addresses.txt
lb_url.txt
output.json
programs_to_deploy
variables.tf
log_files

# Ansible related
**/.ansible

# Ansible lint cache files
**/.ansible-lint

# Ansible related, for the builder
builder/infrastructure/ansible/builder_inventory.yml

# Related to the client sync and load ledger tests
test_suites/network-sync-tests/playbooks/snapshot_urls.txt
test_suites/network-sync-tests/playbooks/network_info.json
test_suites/network-sync-tests/.terraform-client-sync/
test_suites/network-sync-tests/.terraform-load-ledger/
test_suites/network-sync-tests/lb_url_load-ledger-tests.txt
test_suites/network-sync-tests/playbooks/snapshot_urls_load-ledger-tests.txt

# Related to load ledger tests
test_suites/network-sync-tests/load_ledger_results/
test_suites/network-sync-tests/playbooks/inventory_load_ledger.aws_ec2.yml
test_suites/network-sync-tests/playbooks/local.inventory

# Related to scripts
**/*/.builder_ip
**/.upload_state
