## Hidden files
#.*

# Thumbnails
._*

/.idea/
/.venv-lint/
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info
**/terraform.tfstate.backup
*.tfstate
/group_vars/snarkos_node.yml
/terraform.tfvars
**/grafana-dashboard.json
**/devnet-key
**/devnet-key.pub
**/.env
**/*.swp
**/*.log
**/vars.yml
**/vars.*.yml
**/vars.*.yaml
**/logs/
**/ledger_backups
/test_suites/snarkos-cdn-tests/playbooks/snarkos-shallow/
/test_suites/snarkos-cdn-tests/prometheus_server_data/
/test_suites/snarkos-p2p-tests/playbooks/snarkos-shallow/
/test_suites/snarkos-p2p-tests/tests/_save_deployments/snarkos-shallow/
/test_suites/snarkos-p2p-tests/prometheus_server_data/
/test_suites/snarkos-p2p-tests/transaction_files/
/test_suites/snarkos-p2p-tests/tests/load_saved_transactions/transactions_to_send/
/test_suites/snarkos-p2p-tests/tests/load_saved_transactions/tx_submitter/target
/test_suites/snarkos-p2p-tests/tests/load_saved_transactions/tx_submitter/*.log

# ignore service account secrets
.gcp-key-*-snarkos-sa.json
.ssh-key-*-snarkos-sa
.ssh-key-*-snarkos-sa.pub


# ignore "roles/googlecloudplatform.google_cloud_ops_agents" - install with `ansible-galaxy install googlecloudplatform.google_cloud_ops_agents`
/test_suites/snarkos-p2p-tests/playbooks/roles/googlecloudplatform.google_cloud_ops_agents

# Python
**/__pycache__/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.codegraph/daemon.*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/node_modules/

ip_addresses.txt
client_ip_addresses.txt
lb_url.txt
output.json
programs_to_deploy
variables.tf
log_files


# Ansible related
**/.ansible

# Ansible lint cache files
**/.ansible-lint

# Ansible related, for the builder
builder/infrastructure/ansible/builder_inventory.yml

# Related to the client sync and load ledger tests
test_suites/snarkos-cdn-tests/playbooks/snapshot_urls.txt
test_suites/snarkos-cdn-tests/playbooks/network_info.json
test_suites/snarkos-cdn-tests/playbooks/.network
test_suites/snarkos-cdn-tests/.terraform-client-sync/
test_suites/snarkos-cdn-tests/.terraform-load-ledger/
test_suites/snarkos-cdn-tests/lb_url_load-ledger-tests.txt
test_suites/snarkos-cdn-tests/playbooks/snapshot_urls_load-ledger-tests.txt

# Related to load ledger tests
test_suites/snarkos-cdn-tests/load_ledger_results/
test_suites/snarkos-cdn-tests/playbooks/inventory_load_ledger.aws_ec2.yml
test_suites/snarkos-cdn-tests/playbooks/local.inventory

# Local copies of GCS pregenerated transaction zips
/pregenerated_transactions/

# Related to scripts
**/*/.builder_ip
**/.upload_state

**/inventory/local
