/.idea/
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info
**/terraform.tfstate.backup
/group_vars/snarkos_node.yml
/terraform.tfvars
**/grafana-dashboard.json
**/devnet-key
**/devnet-key.pub
**/.env
**/*.swp
**/*tx-cannon.log
**/*.log
**/vars.yml
**/logs/
**/ledger_backups

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/node_modules/

ip_addresses.txt
output.json
programs_to_deploy
variables.tf
