[defaults]
stdout_callback = yaml
host_key_checking = False
inventory = ../inventory/dynamic_inventory.aws_ec2.yml
private_key_file = ../devnet-key
ssh_args = -o ServerAliveInterval=60 -o ControlMaster=auto -o ControlPersist=2m
roles_path = ./roles:../../../common/roles/
# increase forks if # of machines goes up
forks = 100
pipelining = True
gathering = smart
# 10 minute timeout
fact_caching_timeout = 600 
# Install mitogen for further speedups
# strategy_plugins = /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/ansible_mitogen/plugins/strategy
# strategy = mitogen_linear
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
# SSH timeout
timeout = 60
