# /etc/systemd/system/talisker.service

[Unit]
Description=Talisker Service
After=network.target

[Service]
Restart=always
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
SyslogIdentifier=talisker
Environment="MIX_ENV=prod"
Environment="ARDBEG_SECRET={{ ARDBEG_SECRET }}"
Environment="GITHUB_USER_TOKEN={{ github_token }}"
Environment="RELEASES_FOR_TESTING_BUCKET={{ releases_bucket }}"
Environment="TEST_RESULTS_AND_LOGS_BUCKET={{ results_bucket }}"
Environment="SLACK_TOKEN={{ slack_token }}"
Environment="SLACK_CHANNEL_ID={{ slack_channel_id }}"
Environment="TALISKER_API_PORT=3030"
ExecStart=/home/ubuntu/talisker/bin/talisker
Restart=on-failure

[Install]
WantedBy=multi-user.target
