# token to access private tx-cannon repo
# link to generate: https://github.com/settings/tokens/new?scopes=repo&description=stress-testing
GITHUB_TOKEN=your_github_token_here


ELASTIC_CLOUD_ID=your_elastic_cloud_id
ELASTIC_API_KEY=your_elastic_api_key
GRAFANA_CLOUD_API_KEY=your_grafana_api_key
DEVNET_NAME=your_devnet_name
