[defaults]
host_key_checking = False
inventory = dynamic_inventory.aws_ec2.yml
private_key_file = devnet-key
timeout = 30
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o StrictHostKeyChecking=no ConnectTimeout=60