[Unit]
Description=snarkOS Node Service

[Service]
User=root
{{ malicemode | default('') }}
WorkingDirectory=/home/ubuntu
ExecStart={{ snarkos_bin_path }}/{{ snarkos_command }}
{% set peers = snarkos_env_extra.TEST_BOOTSTRAP_PEERS | default('') | trim %}
{% if peers %}
Environment="TEST_BOOTSTRAP_PEERS={{ peers }}"
{% endif %}
{% set committee = (snarkos_env_extra.TEST_COMMITTEE_ADDRS | default('') | string | trim) %}
{% if committee %}
Environment="TEST_COMMITTEE_ADDRS={{ committee }}"
{% endif %}
Restart=no
LimitNOFILE=65535
