GITHUB_TOKEN=your_github_token
ELASTIC_CLOUD_ID=your_elastic_cloud_id
ELASTIC_API_KEY=your_elastic_api_key
GRAFANA_CLOUD_API_KEY=your_grafana_api_key
DEVNET_NAME=your_devnet_name

## FOR SINGLE REGION SETUP:
REGION=your_region #us-west-1
INSTANCES=num_instances

## FOR MULTI REGION SETUP:
REGION_LIST=your_region_list #us-west-1,us-west-2
INSTANCES_PER_REGION=num_instances_per_region

